:root {
  /* Colors */
  --bg-primary: #242424;
  --bg-secondary: #00000065;
  --bg-tertiary: #00000040;

  /* Text color */
  --text-color: #ffffffeb;

  /* Text Button color */
  --text-button: #81e6d9;

  /* Button Color */
  --button-bg: #81e6d9;

  /* Link Color */
  --link-color: #ff5fc1;

  /* Typography */
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
}

body {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-color);
  min-height: 100vh;
  /* Mobile-first typography */
  font-size: var(--font-base);
}
